@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@font-face {
  font-family: ComicSansMS;
  src: url('/ComicSansMS.ttf');
}

body {
  background-color: #181825;
  font-family: ComicSansMS;
}
