@import 'tailwindcss';

@font-face {
	font-family: Hack;
	src: url('/assets/fonts/Hack-Regular.ttf');
}

body {
	font-family: Hack;
}

@theme {
	--kart-color: #FF8702;

	--animate-fadeOut: fadeOut 1.5s ease-in forwards;
	@keyframes fadeOut {
		to {
			opacity: 0;
		}
	}
	--animate-fadeIn: fadeIn 1.5s ease-in forwards;
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	--animate-scrollimage: scroll 60s linear infinite;
	@keyframes scroll {
		0% {
			background-position: 0px 0px;
		}
		100% {
			background-position: 500px 0px;
		}
	}
}
